#div_search_dev {width:100%;min-height:90%;_background:#888888;display:block;}
#div_search_dev div:nth-child(2) {width:100%;min-height:80%;background-color:white;}
#head_info {margin:0 auto;border-color:#cccccc;_border-left:none;_border-right:none;border-top:none;border-collapse:collapse;}
#head_info th {width:130px;height:40px;border-color:#cccccc;_border-left:none;border-top:none;_border-right:none;border-collapse:collapse;font-size:14px;}
#head_info th:nth-child(4) {width:110px;}
#head_info th:nth-child(6) {width:40px;}
#head_info th:nth-child(7) {width:80px;}
#head_info th:nth-child(9) {width:65px;}
#head_info th:nth-child(10) {width:65px;}
#head_info th:nth-child(1) {width:50px;height:40px;border-color:#cccccc;_border-left:none;border-top:none;_border-right:none;border-collapse:collapse;}