#ctrl_div {height: 36px;width:100%;background-color: #cccccc;}
#ctrl_div button:nth-child(1) {color: black;margin-top: 6px;position:absolute;margin-left: 50px;_background-color:#aaaaaa;font-size:15px;}
#ctrl_div button:nth-child(2) {color: black;margin-top: 6px;position:absolute;margin-left: 150px;_background-color: yellow;font-size:15px;}
#ctrl_div button:nth-child(3) {color: black;margin-top: 6px;position:absolute;margin-left: 250px;_background-color: blue;font-size:15px;}
#ctrl_div button:nth-child(4) {color: black;margin-top: 6px;position:absolute;margin-left: 350px;_background-color: #cccccc;font-size:15px;}
#ctrl_div button:nth-child(5) {color: black;margin-top: 6px;position:absolute;margin-left: 450px;_background-color: #cccccc;font-size:15px;}
.se_top_bar2 {background-color:#aaaaaa;}